
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Playfair+Display:wght@900&family=Quicksand:wght@400;500;600;700&display=swap');

*{
   margin: 0;
   box-sizing: border-box;
   padding: 0;
    font-family: 'Quicksand','sans-serif';

}
body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px)
{
    .container
    {
        width: 750px;
    }
    
}
@media (min-width:992px)
{
    .container
    {
        width: 970px;
    }
}
@media (min-width:1200px)
{
    .container
    {
        width: 1170px;
    }
}

/* start header*/

nav .logo a img{
  
    width: 140px;
    margin-left: 100px;
  }
  nav{
  
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    position: relative;
  }
  
  nav ul {
    list-style: none;
    margin-right: 100px;

  }
  nav ul li {
    display: inline-block;
  }
a{
    text-decoration: none;
}
  nav ul li a{
  

    color:white;
    font-size: 20px;
       margin: 0 15px;
       font-weight: 600;
       padding: 10px;
        
   }
   nav ul li a:hover{
    border-bottom: 2px solid rgb(245, 163, 10);
    
 }
header{
    background:url('./photo/home_bg.jpeg') center center/cover no-repeat;
    height: 100vh;
   
    position: relative;
    
}
header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   background: rgb(0, 0, 0,0.6);

}
header .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
   color: white;
    text-align: center;
}
header .content h1{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 18px;
    
}
header .content p{
    margin-bottom: 18px;
}

 .btn-primary{
    display: inline-block;
    padding: 15px 30px;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function:  ease-in-out;

}
.btn-primary:hover

{

   background-color: rgb(245, 163, 10);
}


span{
    color: rgb(245, 163, 10);
}
header *{
    z-index: 10;
}
@media (max-width:991px)
{
    ul{
        display: none;
    }
    header nav
    {
        background-color: #f5a30a;
       
       
    }
  
    header nav .navaigation i{
       
    font-size: 45px;
    margin-right: 40px;
    color: #ffffff;
    cursor: pointer;

    }
    header nav .navaigation i:hover+ul{
        display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    width: 100%;
    top: 100%;
    background-color: rgb(223 181 43 / 40%);
    transition: 0.5s ease;
   
    }
    header nav .navaigation i:hover+ul li a {
      
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: bold;
         z-index: 250;
         margin-bottom: 5px;
    }
    header nav .navaigation i:hover+ul li
    {
        padding: 15px 10px;
        border-bottom: 1px solid rgb(0, 0, 0);
       
    }

     header .content
     {
        margin-top: 80px;
     }
   
   
}
/* end header*/
/* start about*/
#about{
     
      background: #f4f4f4;
}
.title
{
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   text-align: center;
}
#about .title{
    color: #383848;
 
}
#about .title p
{
    color: black;
}
.title h2{
    margin-bottom: 20px;
  
   
    font-size: 50px;
    font-weight: 700;
}



.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
  margin-bottom: 50px;
   
}
.about-content .text-content
{
    flex-basis: 50%;
    margin: 0 45px;
}

.about-content .text-content p{
   
   
    color: #77A;
    font-weight: 500;
    line-height: 1.6;
    font-size: 25px;
}
.about-content .btn-secondry{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    background-color: rgb(44, 44, 95);
    border-radius: 15px;
    text-align: center;
    padding: 15px 25px;

    display: inline-block;
 
    margin-top: 25px;  

    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function:  ease-in-out;
}
.btn-secondry:hover{
    background-color: rgb(245, 163, 10);
}
.about-content img{
    flex-basis: 40%;
    margin-right: 20px;
    margin-top: 20px;
}
@media (max-width:1024px) {
    .about-content
    {
            flex-direction: column;

    }
    .about-content .text-content
    {
         text-align: center;  
    }
 
    .about-content img
    {
       flex-basis: 30%;
    }
  
}
@media (max-width:991px)
{
    .about-content img
    {
        max-width: 100%;
    
    }
}
/* end about*/
/* start offers*/
#offers{
    background: url('./photo/offer-background.jpg') center center/cover fixed;
  
    
    display: flex;
    justify-content: center;
   color:#d3d3d3;
}
:root{
    --color_primary:rgb(245, 163, 10);
}
#offers .container .title h2{
    color: var(--color_primary);
    margin-top: 70px;
  
}
#offers .container .title p
{
    color: white;
}
#offers .container .offer-items{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 60px
}
@media (max-width:991px) {
    #offers .container .offer-items
    {
        flex-wrap: wrap;
    }
    
}
#offers .container .offer-items .box{
   
    margin-left: 25px;
  
}
@keyframes rotate {
   
   


    100%
    {
        transform: rotate(360deg);
    }
}

.offer-items div img{
    margin-bottom: 10px;
    width: 300px;
    animation: rotate 30s  forwards infinite;
}
.offer-items div h3{
    color: white;
    font-size: 40px;
    margin: 10px 0;
    font-weight: 800;
}
.offer-items div .info .p
{
    color: #778;
    font-size: 20px;
}
.offer-items div .span-p{
    margin-top: 10px;
   font-size: 25px;
   font-weight: 500;
   
}
.offer-items div del{
    margin-right: 4px;
}

/* end offers*/
/* start menu*/
#menu{
    display: flex;
    justify-content: center;
    background: url('./photo/watches/8247174.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu .menu-item{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(330px,1fr));
    gap: 50px;
}
#menu .title
{
    color: #f5a30a;
}

  .title p
{
    color: white;

    font-size: 25px;
    margin-bottom: 15px;
}
#menu .menu-item .box

{
padding: 10px 20px;
background-color: white;
box-shadow: 0 0 9px #ddd;
border-radius: 5px;
text-align: center;
transition: 0.4s;
margin: 25px 0;
}

#menu .menu-item .box img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px auto;
}


#menu .menu-item .box:hover

{
    transform: translateY(-20px);
}




#menu .menu-item .box p
{
    margin-bottom: 30px;
    font-size: 25px;
   
}
.menu-item{
    margin-top: 70px;
}
#menu .menu-item .box  span
{
    color: rgb(245, 163, 10);
    font-size: 25px;
    font-weight: 500;
    display: inline-block;
    width: fit-content;
    text-align: center;

}


#menu .menu-item .box h3
{
    margin-bottom: 20px;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 900;
    
}
#menu .menu-item .box button

{
    display: block;
    width: fit-content;
    background-color: blue;
    font-size: 28px;
    margin: 10px auto;
    color: white;
    border-radius: 5px;
    padding: 15px;
    transition: 0.4s;
    
} 
@keyframes moving {
    0%
    {
        transform: translateX(0);
    }
    50%
    {
        transform: translateX(20px);
    }
    100%
    {
        transform: translateX(0);
    }
}
#menu .menu-item .box button:hover

{
    background-color: rgb(20, 20, 235);
    animation: moving 0.6s linear infinite;
}
#menu .btn{
  background-color: rgb(245, 163, 10);
  border-radius: 15px;
  font-size: 25px;
    padding: 25px;
  display: block;
  
    margin:20px auto 15px;
  text-align: center;
 cursor: pointer;
  border: none;
  color: white;
}
#menu .btn:hover{
    background-color: #383848;
}
/*end menu*/
/*start daytime*/

#daytime-meal{
    display: flex;
    justify-content: center;
    background: url('./photo/daytime_bg.jpeg') center center/cover fixed no-repeat;

}
#daytime-meal .container .daytime-menu div{
    
    margin: 0 50px;
}
#daytime-meal .container .daytime-menu {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   color: #fff;
}
#daytime-meal .container{
    margin-top: 100px;
    margin-bottom: 100px;
}
#daytime-meal .container .daytime-menu h3{
        font-size: 32px;
        font-weight: 600;
        margin: 20px 0;
}
#daytime-meal .container .daytime-menu p{
    font-weight: 500;
}
@media (max-width:991px)
{
    #daytime-meal .container .daytime-menu
    {
        flex-direction: column;
    }
    #daytime-meal .container .daytime-menu  div{
        margin-bottom: 20px;
    }
}
/*end daytime-meal*/
/*start gallery*/
#gallery{
    display: flex;
    justify-content: center;
    background: url('./photo/offer-background.jpg');
}
#gallery .title h2{
    text-align: center;
    margin-top: 70px;
    font-size: 50px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}
#gallery .gallery-item
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 15px;
    text-align: center;
}



#gallery .gallery-item  .box  img
{
    
 
    width: 300px;
    height: 250px;
    border-radius: 10px;
    transition: 0.4s;
}


#gallery .gallery-item  .box img:hover

{
    transform: scale(1.1) translateY(-20px) ;
}





/*end gallery*/
/*start contact*/
#contact{
    display: flex;
    justify-content: center;
    color: #383848;
}
#contact .contact-item
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}
#contact .contact-item .left-item div h3{
    color: #383848;
    font-weight: 600;
    font-size: 32px;
}
#contact .contact-item .left-item
{
    width: 40%;
    margin-right: 200px;
}
#contact .contact-item .left-item p i{
        color:rgb(245, 163, 10) ;
        margin-right: 3px;
}
#contact .contact-item .left-item div a i
{
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
    font-size: 25px;
    background-color: #383848;
    color: white;
}
#contact .contact-item .left-item p{
    margin-top: 15px;
}

#contact .contact-item .right-item
{
    width: 40%;
}
#contact .contact-item .left-item h3{
    text-transform: uppercase;
    font-size: 26px;
   margin: 20px 0;
}
#contact .contact-item .right-item input
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    font-size: 20px;
    border: 3px solid #3F51B5;
    outline: none;
}
#contact .contact-item .right-item  .submit{
    background-color: #383848;
    padding: 15px;
    margin-top: 50px;
    margin-left: 10px;
    width: 250px;
    border-radius: 15px;
    font-size: 20px;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;

}
#contact .contact-item .right-item  .submit:hover{
    background-color:  rgb(245, 163, 10);
   
}
@media(max-width:991px)
{
    #contact .contact-item
    {
        flex-direction: column;
        align-items: center;
    }
    #contact .contact-item .left-item
    {
        display: grid;
        margin-right: 0;
        grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
  
    #contact .contact-item .right-item
    {
        margin-top: 25px;
        width: 90%;
        text-align: center;
    }
    #contact .contact-item .right-item input
    {
       
        width: 100%;
    }
}
footer{
    background: url('./photo/offer-background.jpg') center center/cover fixed no-repeat;
    text-align: center;
    color: white;
    padding: 10px 0;
}
footer p span i{
    color: white;
    border-radius: 50%;
}
a{
    color: white;
    text-decoration: none;
}

@media(max-width:500px)
{
    body{
        font-size: 10px;
    }
    .title h2
    {
        font-size: 3em;
        margin-top: 25px;
    }
}





